<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro-Point</title>
</head>
<body>
    <nav>
        <div id="nav">
            <img src="/images/logo.png" id="logo">
            <a id="profile" href="">Namasthe <%= userName %> !</a>
            <a href="/api/logout">Logout</a>
        </div>
    </nav>
    <div>
        <a href="/api/user">Go Back</a>
    </div>
    <br><br>
    <div class="categories">
        <div><a href="/api/category/1">Fertilizers</a></div>
        <div><a href="/api/category/2">Pesticides</a></div>
        <div><a href="/api/category/3">Tools</a></div>
        <div><a href="/api/category/4">Seeds</a></div>
        <div><a href="/api/category/6">Vehicles</a></div>
        <div><a href="/api/category/5">Others</a></div>
    </div>
</body>
</html>