<div>
    <form method="POST" action="/api/forgotPassword">
        <% error.forEach((item) => { %>
            <h5 style="color: red"><%= item %></h5>
        <% });%>
        <p><input type="email" name="email" placeholder="Email" id="uemail" required></p>
        <p><select name="type" id="ptype">
            <option value="user">Farmer</option>
            <option value="org_user">Organizational User</option>
          </select>
        </p>
        <p class="submit"><input type="submit" name="submit" value="Send"></p>
    </form>
    <a href="login">LOGIN</a>
</div>