<link rel="stylesheet" href="/css/profile.css">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<title>Agro-Point</title>

<div id="nav">
    <img src="/images/logo.png" id="logo">
    <a id="profile" href="">Hi <%= profile.name %>! </a>
    <a href="/api/logout">Logout</a>
    <a href="/api/user">Go To Main Page</a>
</div>

<div id="name">
    <Br><br><br><Br><br><br><Br><br><br>
    <p> Your Email Address <%= profile.email %></p>
</div>

<div id="profile">
    <h3>Update Profile</h3>
    <form method="post" action="/api/profile">
        <% error.forEach((item) => { %>
          <h5 style="color: red"><%= item %></h5>
          <% });%>
        <p><input type="text" name="name" placeholder="Name" value="<%= profile.name %>" required></p>
        
        <p><input type="password" name="oldPassword" placeholder="Enter Previous Password" required></p>
        <p><input type="password" name="newPassword1" placeholder="New Password" required></p>
        <p><input type="password" name="newPassword2" placeholder="Confirm New Password" required></p>

        <p class="submit"><input type="submit" name="submit" value="Update" required></p>
      </form>
</div>